<div>
  <h2>Todo List</h2>
  <form [formGroup]="todoForm" >
    <input type="text" class="todo_text" placeholder="Enter Items..." formControlName="item" />
    <button class="btn-Add" (click)="addNewToDoItem()" >Add</button>
  </form>
  <hr/>

  <ul *ngFor="let item of items">
  <li>
    <input type="checkbox" [checked]="item.checked" (change)="item.checked = !item.checked" />
    <span [ngClass]="{'checked': item.checked}">{{ item.value }}</span>
  </li>
    <!-- <li>
      <input type="checkbox" />
      <span class="">list2</span>
    </li> -->
  </ul>
</div>